<div id="update">
  <%- form_tag entries_url, :method => :post do -%>
    <label for="status">What 5 words describe today?</label><br />
    <%= text_area_tag 'status' %>
    <%= submit_tag 'post' %>
  <%- end -%>
</div>

